<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.wkm.mapper.SysUserDatabaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.wkm.entity.SysUserDatabase">
        <result column="id" property="id" />
        <result column="create_at" property="createAt" />
        <result column="create_by" property="createBy" />
        <result column="update_at" property="updateAt" />
        <result column="update_by" property="updateBy" />
        <result column="is_delete" property="isDelete" />
        <result column="account_id" property="accountId" />
        <result column="db_id" property="dbId" />
        <result column="db_code" property="dbCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_at,
        create_by,
        update_at,
        update_by,
        is_delete,
        account_id, db_id, db_code
    </sql>

</mapper>
